<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
<div class="header"></div>
<div class="container">
    <div class="contentWrap">
        <div class="content">
            <i class="fa fa-map-signs" aria-hidden="true"></i>
            {{content}}
        </div>
    </div>
    <div class="side">
        <div class="side-top">
            <ul>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </div>
        <div class="side-content">
            <ul>
                <i class="fa fa-star-o" aria-hidden="true">
                    <a href="#">&nbsp;我关注的博客</a>
                </i><br>
                <i class="fa fa-user-o" aria-hidden="true">
                    <a href="#">&nbsp;关于我</a></i><br>
                <i class="fa fa-align-justify" aria-hidden="true">
                    <a href="#">&nbsp;其他</a></i><br>
                <i class="fa fa-weixin" aria-hidden="true">
                    <a href="#">&nbsp;联系我</a></i><br>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <p>版权所有&copy;CNzhangheng</p>
</div>
</body>
</html>
